<form method="post" action="{{ path('cart_item_delete', {'id': cartItem.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cartItem.id) }}">
    <button class="c-btn c-btn--white"><a>Retirer le produit</a></button>
</form>