{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <ul>
        {% for cartItem in cartItems %}
        <li>{{cartItem.product.name}} {{ include('main/cart/_delete_form.html.twig') }} {{cartItem.quantity}}</li>
        
        {% endfor %}
    </ul>
</div>
{% endblock %}
