<footer class="o-footer">
    <div class="o-footer__container">
        <div class="o-footer__logo o-footer__item">
            <img src="{{ asset('build/logo-footer.png') }}" class="c-logo c-logo__footer" alt="">
        </div>
        <div class="o-footer__info">
            
            <h2>INFORMATIONS<div class="c-underline c-underline--footer"></div></h2>
            <a href="">FAQ</a>
            <a href="">Suivi commande</a>
            <a href="">Retours et Echanges</a>
            <a href="">Expeditions et Livraisons</a>
        </div>
        <div class="o-footer__plan">
            
            <h2>PLAN DU SITE<div class="c-underline c-underline--footer"></div></h2>
            <a href="">A Propos</a>
            <a href="">Produits</a>
            <a href="">Mon Compte</a>
        </div>
        <div class="o-footer__address">
                
                <h2>L'ATELIER <div class="c-underline c-underline--footer"></div></h2>
                <p><b>Adresse:</b></p>
                <li>15 rue Descartes</li>
                <li>33000 BORDEAUX</li>
                <li>FRANCE</li>
                <p><b>Horaires:</b></p>
                <li>De 10h à 20h</li>
                <li>Du lundi au samedi</li>

        </div>
        <div class="o-footer__social o-footer__item">
            <a href="" class="c-icon"><i class="fab fa-instagram"></i></a>
            <a href="" class="c-icon"><i class="fab fa-facebook"></i></a>
        </div>
    </div>

    <div class="o-footer__container o-footer__bottom">
        <div class="o-footer__item">
            <i class="far fa-copyright"></i>
            <p> SIMONE & JEANNE</p>
            <div class="c-vr"></div>
            <p>2021</p>
        </div>
        <div class="o-footer__item">
            <a href="">Confidentialités et Cookies</a>
            <div class="c-vr"></div>
            <a href="">Conditions Générales</a>
            <div class="c-vr"></div>
            <a href="">Accessibilité</a>
        </div>
    </div>
</footer>