<header>
    <a href="{{ path('new_product') }}">Nouveaute</a>
    {% for category in categories %}
    <a href="{{ path('cat_product', {'slug' : category.slug}) }}">{{category.name}}</a>
    {% endfor %}
    <h3>A Propos</h3>
    <h3>Contact</h3>
</header>