{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block main %}

    <div class="o-about">
        <h1>
            A Propos
            <div class="c-underline c-underline--h11"></div>
            <div class="c-underline c-underline--h12"></div>
        </h1>
        <div class="o-about__first o-about__item">
            
            <h2>L’histoire de Simone & Jeanne<div class="c-underline"></div></h2>
            <p>
                Simone et Jeanne est une entreprise française, née de l’envie de proposer de la décoration de qualité à prix raisonnable. <br><br> La fondatrice est une passionnée de décoration qui, à force d’écumer les concepts store, décide alors de créer les objets qu’elle adore et de les faire à son image. <br> Le tout en ajoutant sa patte et un peu de son âme. Entourée de son entourage pour voir le jour, on peut dire que Simone et Jeanne est une entreprise créé grâce aux compétences des proches de la fondatrice. <br><br> Un chéri graphiste, une sœur styliste et des proches toujours prêt à aider Simone et Jeanne afin qu’elle voit le jour. <br>
                Une envie de voler de ses propres ailes, Simone et Jeanne à un goût de liberté et de fierté 
                pour sa créatrice. <br> Une évidence qui se concrétise de jour en jour.
            </p>
        </div>
        <div class="o-about__middle o-about__item">
            
            <h2>Une Maison éthique et authentique <div class="c-underline"></div></h2>
            <p>
                La fondatrice est une vieille âme qui veut mettre à l’honneur des intemporels, qui veut également dépoussiérer certains objets afin de garder leur âme et leur apporter une touche de modernité, et en tant que bloggeuse, elle désire également proposer des objets tendances qui ne seront pas partie de la collection permanente, car les tendances changent et ne se ressemblent pas. <br> 
                Simone et Jeanne vous propose des objets indispensables et intemporels et continuera de proposer bien des produits mais toujours avec une conscience et un goût affirmé et affiné. <br> J’espère que chaque membre de la famille puisse trouver son bonheur. <br> De la petite fille qui souhaite une touche tendance avec une bougie bulle, en passant par la jeune adulte qui a son tote bag, à maman avec son joli bouquet de fleurs séchés, son papa avec une bougie dans son bureau en passant par mamie avec son bol Breton. <br> 
                On le sait pertinemment, aujourd’hui la maison est bien plus qu’un lieu de vie. <br> Il définit qui vous êtes mais surtout il vous permet d’être en harmonie. <br> Il s’agit bien plus que de simples objets 
                De l’intemporel aux tendances, il y a de fortes chances que vous trouviez votre bonheur, en tout cas je l’espère de tout mon cœur. <br> 
                Étant une petite boutique, nous souhaitons mettre un point d’honneur à la relation avec vous, notre clientèle. <br> Simone et Jeanne est une petite entreprise au grand cœur. <br>
            </p>
        </div>
        <div class="o-about__last o-about__item">
            
            <h2>Simone et Jeanne met la femme à l’honneur <div class="c-underline"></div></h2>
            <p>
                Je crois que la question la plus posée dans mon entourage est : « Pourquoi Simone et Jeanne ? » et alors la réponse est assez simple : c’était une évidence. <br> Simone pour toutes les grandes dames qui le porte en nom ou en prénom : Simone Veil, Simone de Beauvoir, Nina Simone, et j’en passe. <br>
                Jeanne pour deux raisons, pour la connotation de décoration avec les fameuses « Dame Jeanne » et pour deux personnes qui me sont chères. <br> La première est mon arrière-grand-mère Marie-Jeanne, une personne authentique et plein de belles valeurs. <br> La seconde, Jeanne, une amie chère à mon cœur qui à son univers à elle depuis toujours et que j’admire énormément. <br> 
            </p>
            <q>J’accepte la grande aventure d’être moi.</q> <h5>Simonne de Beauvoir</h5>
        </div>
    </div>
    


{% endblock %}



