{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main %}
    <div class="o-container o-jumbotron">
        <img src="{{ asset('build/home3.jpg') }}" alt="">
    </div>
    <div class="o-container">
        <div class="o-container__item">
            <img src="{{ asset('build/home1.jpeg') }}" alt="">
        </div>
        <div class="o-container__item o-container__item--col o-home__desc">
            <div class="o-container__item o-container__item--col o-item__text">
                <h1>Ethique et Authentique <div class="c-underline c-underline--white"></div></h1>
                <p>E-shop des produits locaux,
                faits avec amour.</p>
            </div>
            <div class="o-container__item o-container__item--col o-item__text">
                <h1>Retrait et Livraison<div class="c-underline c-underline--white"></div></h1>
                <p>Expédition en France Métropolitaine & retraits gratuits dans notre atelier bordelais.</p>
            </div>
            <div class="o-container__item o-container__item--col o-item__text">
                <h1>Paiements Sécurisés<div class="c-underline c-underline--white"></div></h1>
                <p>Les paiements sont sécurisées
                    par la protection SSL.</p>
            </div>
        </div>
        <div class="o-container__item">
            <img src="{{ asset('build/home2.jpg') }}" alt="">
        </div>
        
    </div>
    <div class="o-container">
        <h1>Nos Produits Coup de Coeur</h1>
    </div>
    <div class="o-container">

    </div>
{% endblock %}

