<html lang="en">
<head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Simone & Jeanne</title>

    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    
</head>
<body style="margin: 0; padding: 0;">
            <div style="display: flex; justify-content: center; align-items: center;">
               
                    <img src="{{ asset('build/UC.png') }}" style="width: 100vw;">
                    
            </div>


</body>
</html>