{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

<form action="{{ path('checkout') }}" method="POST">
    <button type="submit">Checkout</button>
  </form>

{% endblock %}