<form method="post" action="{{ path('user_delete', {'slug': user.slug}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimmer votre compte ? Toutes vos données seront perdus définitement.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn c-btn c-btn--danger"> Supprimmer mon compte</button>
</form>
