{% extends 'base.html.twig' %}

{% block title %}Mes Informations{% endblock %}

{% block nav %}
{% include "main/profile/_menu.html.twig" %}
{% endblock %}

{% block main %}
    <h1>MON COMPTE<div class="c-underline c-underline--h11"></div>
        <div class="c-underline c-underline--h12"></div></h1>
    
    {{ include('main/profile/user/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
