<html lang="en">
<head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Simone & Jeanne</title>

    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    
</head>
<body style="margin: 0; padding: 0;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <form method="post">
                    <div class="o-login__item o-login__item--tmp">                        
                        
                        <input style="background-color: #B34C3D;" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control c-input" autocomplete="email" required autofocus>
                        
                        <input style="background-color: #B34C3D;" type="password" name="password" id="inputPassword" class="form-control c-input" autocomplete="current-password" required>
                        <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                        >
                        <!-- Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html -->
                            <div class="o-login__actions hidden">
                                <button class="c-btn c-btn--no--margin " type="submit">
                                    <a href="">Connexion</a> 
                                </button>
                            </div>
                            
                        </div>    
                    </form>
                    <img src="{{ asset('build/UC.png') }}" style="width: 100vw;">
                    
            </div>


</body>
</html>